*.log.*
*.log
.idea
.cproject
.project
.settings
.vscode
cmake-build-debug
build
plib
chat-msg-c2s/lib/
chat-msg-s2s/lib/
chat-msg-transfer/lib/
group_msg_c2s/lib
group_msg_s2s/lib
group_msg_transfer_s2s/lib
micro-push-s2s/lib/

multi-chat/chat-msg-c2s/lib/
multi-chat/chat-msg-s2s/lib/
multi-chat/group_msg_c2s/lib
multi-chat/group_msg_s2s/lib

common/lib/
**/target
.gitignore
lib/
